body {
    background-color: rgba(104,86,132,0.2);
}

h1, h3 {
    text-align: center;
    font-family: 'Oswald';
    font-style: italic;
    background-color: rgba(104,86,132);
}



/*header*/
header {
  width: 80%;
  margin: 40px auto;
 }
  
 header h1 {
  text-align: center;
  font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
  
 }
  
 header p {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: justify;
 }

 /* Source: https://designshack.net/articles/css/infinitephotobanner/ */
  
 /*photobanner*/
  
 .photobanner {
  height: 233px;
  width: 3550px;
  margin-bottom: 80px;
 }

 .photobanner img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 }

/*keyframe animations*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
     -moz-animation: bannermove 30s linear infinite;
      -ms-animation: bannermove 30s linear infinite;
       -o-animation: bannermove 30s linear infinite;
          animation: bannermove 30s linear infinite;
 }
  
 @keyframes 'bannermove' {
  0% {
     margin-left: 0px;
  }
  100% {
     margin-left: -2125px;
  }
  
 }
  
 @-moz-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }

 .photobanner img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
 }
  
/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top  */
 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: rgba(104, 86, 132, 0.8);
  color: rgba(187, 196, 204);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


#MyBanner {
 width: 100%;
 overflow: hidden;
 margin: 50px auto;
 background: rgba(187, 196, 204, 0.8);
}

.image-gallery {
    margin-top: 10%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(187, 196, 204, 0.8);
    border: 1px solid rgba(104, 86, 132);
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  img {
    width: 400px;
    height: 350px;
  }
  
  figure {
    text-align: center;
    font-family: 'Oswald';
    font-style: italic;
    background-color: rgba(115,159,217);
  }

  footer a {
    text-decoration: none;
    color: black;
    text-align: center;
  }