body {
    background-color: rgba(104,86,132,0.2);
}

h1, h3 {
    text-align: center;
    font-family: 'Oswald';
    font-style: italic;
    background-color: rgba(104,86,132);
}

.image-gallery {
    margin-top: 10%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  #navbar {
    overflow: hidden;
    background-color: #2196F3;
    border-bottom: 15px solid #bbc4cc;
    display: block;
    color: rgba(104, 86, 132);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbar a {

  }

  #navbar a:hover {
    background-color: #2196F3;
    color: rgba(104, 86, 132);
  }


  
  .grid-item {
    background-color: rgba(187, 196, 204, 0.8);
    border: 1px solid rgba(104, 86, 132);
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  img {
    max-width: 400px;
    max-height: 750px;
  }
  
  figure {
    text-align: center;
    font-family: 'Oswald';
    font-style: italic;
    background-color: rgba(115,159,217);
  }