header{
    background-color: #685684;
    color:white;
    padding:20px;
    text-align: center;
}

h1{
    font-weight: 400;
}

.navbar {
    overflow: hidden;
    background-color: #739fd9;
    border-bottom: 15px solid#bbc4cc;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #202834;
    color: #aba6bd;
}

#container {
    margin: 2% top, 5% left, 5% right, 100px bottom;

    /*
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    */
}

#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies td {
    border: 1px #ddd solid;
    padding: 8px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #202834;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

footer {
    
    position: fixed;
    left: 0%;
    bottom: 0%;
    background-color: #685684;
    width: 100%;
    
    /*
    padding: 50px;
    position: absolute;
    */
}

footer p {
    color: white;
    font-weight: 700;
    float: left;
    font-style: italic;
    /*padding: 10px;*/
}

footer a {
    text-decoration: none;
    font-weight: 700;
    float: right;
    color: white;
}

footer a:hover {
    text-decoration: underline ;
}